body {
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    

}

#title {
    font-size: 4vw;
    text-align: center;
}
.container {
    color: white;
    width: 50%;
    height: auto;
    position: relative;
    left: 45%;
    text-align: center;
    
}
p{
    font-size: 20px;
}

#timer {
    text-align: center;
    font-size: 6vw;
}

#trivia {
    text-align: center;
}

#finished{
    visibility: hidden;
}

#button {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
}

#button:hover {
    cursor: pointer;
    background-color: #47576c;
    color: white;
}
#start-button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
}

#start-button:hover {
    cursor: pointer;
    background-color: #47576c;
    color: white;
}
#quiz{
    visibility: hidden;
}

#image{
    height: 300px;
    width: 300px;
}